{%- for model in input.models -%}

{% if loop.first %}
import {{model.dbbase[0]}}
import urdhva_base.queryparams
import urdhva_base.types
import {{model.fbase}}_enum
import {{model.fbase}}_model
from fastapi import APIRouter, Response, Depends, UploadFile, File
router = APIRouter()
{% endif %}

{% if not model.is_internal and not model.disable_crud_operations -%}
{% if not model.config.crud_operations or 'create' in model.config.crud_operations.lower() %}
@router.post('/{{to_kebab_case(model.name)}}', response_model={{model.fbase}}_model.{{model.name}}, tags=['{{model.name}}'])
async def create(input_obj: {{model.fbase}}_model.{{model.name}}Create):
    {% if model.references %}
    await input_obj.load_refs()
    {% endif %}
    return await input_obj.create()
{% endif %}
{% if model.config.bulkcreate %}
@router.post('/{{to_kebab_case(model.name)}}/bulkcreate', response_model={{model.fbase}}_model.{{model.name}}GetResp, tags=['{{model.name}}'])
async def bulkcreate(input_obj: typing.List[{{model.fbase}}_model.{{model.name}}Create]):
    return [await x.create() for x in input_obj]
{% endif %}

{% if model.config.fileupload %}
@router.post("/{{to_kebab_case(model.name)}}/upload_file", tags=['{{model.name}}'])
async def upload_file(uploadfile: UploadFile = File(...)):
    os.makedirs("/tmp/uploads", exist_ok=True)
    with open(f"/tmp/uploads/{uploadfile.filename}", "wb") as buffer:
        shutil.copyfileobj(uploadfile.file, buffer)
    return {"filename": f"/tmp/uploads/{uploadfile.filename}"}
{% endif %}
{% if not model.config.crud_operations or 'update' in model.config.crud_operations.lower() %}
@router.put('/{{to_kebab_case(model.name)}}', response_model={{model.fbase}}_model.{{model.name}}, tags=['{{model.name}}'])
async def update(input_obj: {{model.fbase}}_model.{{model.name}}):
    {% if model.references %}
    await input_obj.load_refs()
    {% endif %}
    {% if model.reverseRef %}
    await input_obj.update_refs()
    {% endif %}
    return await input_obj.modify()
{% endif %}
{% if not model.config.crud_operations or 'read' in model.config.crud_operations.lower() %}
@router.get('/{{to_kebab_case(model.name)}}/{id}', response_model={{model.fbase}}_model.{{model.name}}, tags=['{{model.name}}'])
async def get(id: str):
    return await {{model.fbase}}_model.{{model.name}}.get(id, skip_secrets=True)


@router.get('/{{to_kebab_case(model.name)}}', response_model={{model.fbase}}_model.{{model.name}}GetResp, tags=['{{model.name}}'])
async def get_all(response: Response, params=Depends(urdhva_base.queryparams.QueryParams)):
    return await {{model.fbase}}_model.{{model.name}}.get_all(params, skip_secrets=True)
{% endif %}

{% if not model.config.crud_operations or 'delete' in model.config.crud_operations.lower() %}
@router.delete('/{{to_kebab_case(model.name)}}/{id}', tags=['{{model.name}}'])
async def delete(id: str):
    return await {{model.fbase}}_model.{{model.name}}.delete(id)
{% endif %}
{%- endif %}
{%- endfor -%}
